<div class="page-header">
    <h1> Latest Tweets <small> See what people are saying</small></h1>
</div>


<ul>
                    <% @tweets.each do |tweet| %> 
                        <li> 
                                    <% 
                                        tweet.body.strip.split.each do |token|
                                            if token[0] == '#' %>
                                                <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
                                                <% elsif token[0] == '@'%>
                                                <%=  link_to "#{token} ", "/username/#{token[1..-1]}" %>
                                            <% else %>
                                                <%= "#{token} " %>
                                            <% end %>
                                        <% end %>
                                (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 
                        (<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
                        (<%= link_to "View", tweet_path(tweet) %>)

                    </li>
                    <% end %>
</ul>

<%= form_for @tweet, url: "/tweets", method: :post do |f| %>
    <%= f.text_area :body %>
    <%= f.submit "Tweet", class: 'btn btn-primary' %>
<% end %>