<h1> New User </h1>
<div style="width:400px; text-align:right">
<%= simple_form_for @user do |f| %>
	<strong>Username</strong> <%= f.text_field :username %>
	<br />
	<strong>email</strong>    <%= f.text_field :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.submit %>
<% end %>
</div>