<h2> Hi <%= @user.username %> </h2>
	
	
	<% if @user.tweets.count == 0  %>
		No Tweets
	<% else %>


		<h2> Tweets </h2>

		<ul>
		            <% @user.tweets.each do |tweet| %> 
		                <li> 
		                            <% 
		                                tweet.body.strip.split.each do |token|
		                                    if token[0] == '#' %>
		                                        <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
		                                    <% elsif token[0] == '@'%>
		                                        <%=  link_to "#{token} ", "/#{token[1..-1]}" %>
		                                    <% else %>
		                                        <%= "#{token} " %>
		                                    <% end %>
		                                <% end %>
		                        (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 
		            <% if @user.id != current_user.id %>
		            	(<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
		            <% end %>
		            </li>
		            <% end %>
		</ul>

	<% end %>

	<% if @user.followers.count > 0 %>
		<h3> Followers </h3>
		<ul>
			<% @user.followers.each do |follow| %>
				<li> <%= link_to follow.username, user_path(follow) %></li> 
			<% end %>
		</ul>
	<% end %>

	<% if @user.followed_users.count > 0 %>
		<h3> Following </h3>
		<ul>
			<% @user.followed_users.each do |follow| %>
				<li> <%= link_to follow.username, user_path(follow) %> (<%= link_to "Unfollow", "/users/unfollow/#{follow.id}" %>)</li> 
			<% end %>
		</ul>
	<% end %>

	<% if @user.starred_tweets.count > 0 %>
		<h3>Favorite Tweets</h3>
		<ul>
		            <% @user.starred_tweets.each do |tweet| %> 
		                <li> 
		                            <% 
		                                tweet.body.strip.split.each do |token|
		                                    if token[0] == '#' %>
		                                        <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
		                                        <% elsif token[0] == '@'%>
		                                        <%=  link_to "#{token} ", "/#{token[1..-1]}" %>
		                                    <% else %>
		                                        <%= "#{token} " %>
		                                    <% end %>
		                                <% end %>
		                        (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 
		            <% if @user.id != current_user.id %>
		            	(<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
		            <% end %>
		            </li>
		            <% end %>
		</ul>
	<% end %>


<%= simple_form_for @tweet, url: "/tweets", method: :post do |f| %>
	<%= f.input :body %>
	<%= f.submit "Tweet", class: 'btn btn-primary' %>
<% end %>


<% if @user.id != session[:user_id] %>
	<%= link_to "follow", "/users/follow/#{@user.id}" %>
<% end %>