 <div class="page-header">
	<h1><%= @user.username.capitalize %> Twerks <small> See all your twerks
			<% if @user.id != session[:user_id] %>
				<% if current_user.followed_users.include?(@user) %>
					<%= link_to "unfollow", "/users/unfollow/#{@user.id}" %>
				<% else %>
					<%= link_to "follow", "/users/follow/#{@user.id}" %> </small>
				<% end %>
			<% end %> </h1>
</div>
	
	
	<% if @user.tweets.count == 0  %>
		No Twerks
	<% else %>


	<h2> Twerks </h2>
		<ul>
		            <% @tweets.each do |tweet| %> 
		                <li> 
		                            <% 
		                                tweet.body.strip.split.each do |token|
		                                    if token[0] == '#' %>
		                                        <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
		                                    <% elsif token[0] == '@'%>
		                                        <%=  link_to "#{token} ", "/username/#{token[1..-1]}" %>
		                                    <% else %>
		                                        <%= "#{token} " %>
		                                    <% end %>
		                                <% end %>
		                        (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 
		            <% if @user.id != current_user.id %>
		            	(<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
		            <% end %>
		            	(<%= link_to "View", tweet_path(tweet) %>)
		            </li>
		            <% end %>
		</ul>

	<% end %>

	<% if @user.followers.count > 0 %>
		<h3> Followers </h3>
		<ul>
			<% @user.followers.each do |follow| %>
				<li> <%= link_to follow.username, user_path(follow) %>
					<% if follow.id != session[:user_id] %>
					<% if current_user.followed_users.include?(follow) %>
						(<%= link_to "Unfollow", "/users/unfollow/#{follow.id}" %>)
					<% else %>
						(<%= link_to "follow", "/users/follow/#{follow.id}" %>) 
					<% end %>
					<% end %>
				</li> 
			<% end %>
		</ul>
	<% end %>

	<% if @user.followed_users.count > 0 %>
		<h3> Following </h3>
		<ul>
			<% @user.followed_users.each do |follow| %>
				<li> <%= link_to follow.username, user_path(follow) %> 
					<% if follow.id != session[:user_id] %>
					<% if current_user.followed_users.include?(follow) %>
						(<%= link_to "Unfollow", "/users/unfollow/#{follow.id}" %>)
					<% else %>
						(<%= link_to "follow", "/users/follow/#{follow.id}" %>) 
					<% end %>
					<% end %>
				</li> 
			<% end %>
		</ul>
	<% end %>

	<% if @user.starred_tweets.count > 0 %>
		<h3>Favorite Twerks</h3>
		<ul>
            <% @user.starred_tweets.each do |tweet| %> 
                <li> 
                    <% tweet.body.strip.split.each do |token| %>
                        <% if token[0] == '#' %>
                            <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
                        <% elsif token[0] == '@'%>
                            <%=  link_to "#{token} ", "/username/#{token[1..-1]}" %>
                        <% else %>
                            <%= "#{token} " %>
                        <% end %>
                    <% end %>
                        (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 

		            <% if @user.id != current_user.id %>
		            	(<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
		            <% end %>
            	</li>
	        <% end %>
		</ul>
	<% end %>


<%= form_for @tweet, url: "/tweets", method: :post do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Twerk", class: 'btn btn-primary' %>
<% end %>