<h3><%= @tag.name %></h3>

Tweets: 
<ul>
                    <% @tag.tweets.each do |tweet| %> 
                        <li> 
                                    <% 
                                        tweet.body.strip.split.each do |token|
                                            if token[0] == '#' %>
                                                <%=  link_to "#{token} ", "/hashtags/#{@tags[token]}"%>
                                            <% else %>
                                                <%= "#{token} " %>
                                            <% end %>
                                        <% end %>
                                (<%= link_to "Fav", "/tweets/favorite/#{tweet.id}" %>) 
                    <% if tweet.user_id != current_user.id %>
                        (<%= link_to "RT", "/tweets/retweet/#{tweet.id}" %>)
                    <% end %>
                    </li>
                    <% end %>
</ul>