<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<nav class='navbar navbar-default'>
		<a class='navbar-brand' href='/'>Twitter Clone</a>
		<ul class='nav navbar-nav'>
			<% if current_user %>
				<li> <%= link_to "My Profile", user_path(current_user) %> </li> 
			<% end %>
			<li><%= link_to "Tweet", new_tweet_path %></li>
			<li><%= link_to "All Users", users_path %> </li>
		</ul>
	</nav>
</div>

<div class='container'>


<% if current_user %>
	<%= "you are logged in as #{current_user.username}" %>
	<%= link_to "Logout", logout_path %>
<% else %>
	<%= link_to "login", login_path %> or
	<%= link_to "Signup", new_user_path %>
<% end %>		



<% if flash[:info] %>
	<div class='alert alert-info'>
		<%= flash[:info] %>
	</div>
<% end %>
<%= yield %>

</div>

</body>
</html>
